button{
    border: 4px solid #fff;
    border-radius: 120px;
    overflow: hidden;
    display: absolute;
    float:left;
    width: 300px;
    height: 80px;
    line-height: 68px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 1.3rem;
    background-color: black;
    position: fixed;
    top:50px;

}



button:active{
    transform: scale(0.95);
} 
.button1{
    
    background-color: black;
    position: fixed;
    left: 305px;
    top:50px;
}
.button2{
    border: 4px solid #fff;
    border-radius: 120px;
    overflow: hidden;
    display: absolute;
    float:left;
    width: 300px;
    height: 80px;
    line-height: 68px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 1.3rem;
    background-color: black;
    position: fixed;
    left: 610px;
    top:50px;;
}
.button3{
    border: 4px solid #fff;
    border-radius: 120px;
    overflow: hidden;
    display: absolute;
    float:left;
    width: 300px;
    height: 80px;
    line-height: 68px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 1.3rem;
    background-color: #FF0000;
    position: fixed;
    left: 915px;
    top:50px;;
}
.button4{
    border: 4px solid #fff;
    border-radius: 120px;
    overflow: hidden;
    display: absolute;
    float:left;
    width: 300px;
    height: 80px;
    line-height: 68px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 1.3rem;
    background-color: #FFFF00;
    position: fixed;
    left: 1220px;
    top:50px;
}
.button5{
    border: 4px solid #fff;
    border-radius: 120px;
    overflow: hidden;
    display: absolute;
    float:left;
    width: 300px;
    height: 80px;
    line-height: 68px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 1.3rem;
    background-color: #000000;
    position: fixed;
    left: 1525px;
    top:50px;
}
.button6{
    border: 4px solid #fff;
    border-radius: 120px;
    overflow: hidden;
    display: absolute;
    float:left;
    width: 300px;
    height: 80px;
    line-height: 68px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 1.3rem;
    background-color: #000000;
    position: fixed;
    top:150px;
}

