button{
    position: absolute;
    top: 10px;
    left: 1000x;
    padding: 10px 40px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 15px #303030;
    background: #303030;
    color: #fff;
    cursor: pointer;
    font: 1.2em 'consolas';
    transition: transform 300ms ease;
    z-index: 2;
}

:root {
    --bg-color: #303030;
    --text-color: #bbbbbb;

}

body {
    font-family: 'Bruno Ace', cursive;
    font-size: 18px;
}

.Mcanvas {
    border: 1px solid #000000;
}

button:active{
    transform: scale(0.95);
} 