button{
    border: 4px solid #fff;
    border-radius: 120px;
    overflow: hidden;
    display: absolute;
    float:left;
    width: 300px;
    height: 80px;
    line-height: 68px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 1.3rem;
    background-color: black;
    position: fixed;

}

:root {
    --bg-color: #303030;
    --text-color: #bbbbbb;

}

body {
    font-family: 'Bruno Ace', cursive;
    font-size: 18px;
}

.Mcanvas {
    border: 1px solid #000000;
}

button:active{
    transform: scale(0.95);
} 
.button1{
    border: 4px solid #fff;
    border-radius: 120px;
    overflow: hidden;
    display: absolute;
    float:left;
    width: 300px;
    height: 80px;
    line-height: 68px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 1.3rem;
    background-color: black;
    position: fixed;
    left: 300px;
}
.button2{
    border: 4px solid #fff;
    border-radius: 120px;
    overflow: hidden;
    display: absolute;
    float:left;
    width: 300px;
    height: 80px;
    line-height: 68px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 1.3rem;
    background-color: black;
    position: fixed;
    left: 600px;
}