* {
    margin: 0;
    padding: 0;
}
body {
  overflow: hidden;
}

:root {
  --bg-btn: #020c2c;
}
.frame {
    display: grid;
    grid-template-columns: auto 2fr;  /* เพิ่ม 1fr ด้านหน้าและด้านหลังเพื่อให้ grid ซ้ายและ grid ขวาเท่ากัน */
    grid-auto-rows: 100vh;
    grid-template-areas: 
      "left right right right";
  }
  
  .leftframe {
    width: 100%; /* 50px/9 */
    height: 100%;
    grid-area: left;
    background: #1348bb;
    overflow: hidden;
  }
  .leftframe ul li{
    width: 20px;
    height: 50px;
    margin: 12px;
    align-items: center;
    justify-content: center;
    display: flex;
    list-style: none;
  }
  .leftframe button {
    border: none;
    border-radius: none;
    font-size:25px;
  }


  .rightframe {
    overflow: hidden;
    grid-area: right;
    background: blue;
  }
.rightframe button {
  border: none;
  border-radius: none;
  align-items: center;
  font-size:25px;
}
.box-shapes ul li {
  margin: 5px auto;
  padding: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  list-style: none;
}

.col-a {
  margin: 10px auto;
}
.col-a li{
  left: 7%;
  top: 5%;
  margin: 10px;
  padding: 10px auto;
  display: inline;
  justify-content: center;
  align-items: center;
  position: relative;
  list-style: none;
}
.col-b {
  margin: 10%  auto;
}
.col-b li {
  left: 7%;
  top: 5%;
  margin: 10px;
  padding: 15px auto;
  display: inline;
  justify-content: center;
  align-items: center;
  position: relative;
  list-style: none;
}
#Mcanvas {
  background: #080505;
  /* border: 1px solid #000000; */
} 

/* -------------- button design ------------------- */

.btn-pen {
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    padding: 17px 30px;
    border: 0;
    color: #fff;
    font-size: 17.5px;
    border: 2px solid transparent;
    color: #fff;
    background: transparent;
    font-weight: 800;
    line-height: 30px;
    transition: background,color .1s ease-in-out;
}

.btn-pen:hover {
    background-color: var(--bg-btn);
    color: #fffb00;
}

.btn-eraser {
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    padding: 17px 30px;
    border: 0;
    color: #fff;
    font-size: 17.5px;
    border: 2px solid transparent;
    color: #fff;
    background: transparent;
    font-weight: 800;
    line-height: 30px;
    transition: background,color .1s ease-in-out;
}

.btn-eraser:hover {
  color: #1eff00;
  background-color: var(--bg-btn);
}

.btn-highlight {
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    padding: 17px 30px;
    border: 0;
    color: #fff;
    font-size: 17.5px;
    border: 2px solid transparent;
    border-color: #000;
    color: #fff;
    background: transparent;
    font-weight: 800;
    line-height: 30px;
    transition: background,color .1s ease-in-out;
}

.btn-highlight:hover {
  color: #00ccff;
  background: var(--bg-btn);
}

.btn-shapes {
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  padding: 17px 30px;
  border: 0;
  color: #fff;
  font-size: 17.5px;
  border: 2px solid transparent;
  border-color: #000;
  color: #fff;
  background: transparent;
  font-weight: 800;
  line-height: 30px;
  transition: background,color .1s ease-in-out;
}

.btn-shapes:hover {
  color: #00ff80;
  background: var(--bg-btn);
}

.btn-square {
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  padding: 17px 17px;
  border: 0;
  color: #fff;
  font-size: 17.5px;
  border: 2px solid transparent;
  border-color: #000;
  color: #fff;
  background: transparent;
  font-weight: 800;
  line-height: 30px;
  transition: background,color .1s ease-in-out;
}

.btn-square:hover {
  color: #ff8800;
  background: var(--bg-btn);
}

.btn-triangle {
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  padding: 17px 15px;
  border: 0;
  color: #fff;
  font-size: 17.5px;
  border: 2px solid transparent;
  color: #fff;
  background: transparent;
  font-weight: 800;
  line-height: 30px;
  transition: background,color .1s ease-in-out;
}

.btn-triangle:hover {
  color: #ff00d4;
  background: var(--bg-btn);
}

.btn-circle {
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  padding: 17px 15px;
  border: 0;
  color: #fff;
  font-size: 17.5px;
  border: 2px solid transparent;
  color: #fff;
  background: transparent;
  font-weight: 800;
  line-height: 30px;
  transition: background,color .1s ease-in-out;
}
.btn-circle:hover {
  color: #ff0000;
  background: var(--bg-btn);
}

.btn-clear {
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  padding: 17px 30px;
  border: 0;
  color: #fff;
  font-size: 17.5px;
  border: 2px solid transparent;
  color: #fff;
  background: transparent;
  font-weight: 800;
  line-height: 30px;
  transition: background,color .1s ease-in-out;
}
.btn-clear:hover {
  color: #a6ff00;
  background: var(--bg-btn);
}

.btn-color {
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  padding: 17px 30px;
  border: 0;
  color: #fff;
  font-size: 17.5px;
  border: 2px solid transparent;
  color: #fff;
  background: transparent;
  font-weight: 800;
  line-height: 30px;
  transition: background,color .1s ease-in-out;
}

.btn-color:hover {
  color: #ff006a;
  background: var(--bg-btn);
}

/* col buttom -------------------------------*/
.col-black {
  background: black;
  cursor: pointer;
  padding: 15px;
}
.col-red {
  background: red;
  cursor: pointer;
  padding: 15px;
}
.col-blue {
  background: blue;
  cursor: pointer;
  padding: 15px;
}
.col-green {
  background: green;
  cursor: pointer;
  padding: 15px;
}
/* col-b ---------------------------------- */
.col-white {
  background: white;
  cursor: pointer;
  padding: 15px;
}
.col-orange {
  background: orange;
  cursor: pointer;
  padding: 15px;
}

.col-yellow {
  background: yellow;
  cursor: pointer;
  padding: 15px;
}
.col-pink {
  background: pink;
  cursor: pointer;
  padding: 15px;
}

/* --------------------- end ------------------- */

/* ---------------- overlay ------------------- */
.rightframe {
  position: relative;
}

.rightframe #Mcanvas, .box-shapes {
  position: absolute;
} 
.box-shapes {
  display: none;
  position: absolute;
  top: 23%; 
  left: 2%; 
  width: 3vw;
  z-index: 1;
  height: 30%;
  background: #09205f;
  transform: scale(0);
  transform: translate(-50%, -50%);
  display: none;
}

.box-col {
  top: 25%;
  left: 7%;
  position: absolute;
  background: #1a54be;
  width: 12vw;
  height: 20vh;
  z-index: 2;
  display: none;
  transform: translate(-50%, -50%);
}

.box-pen {
  top: 13%;
  left: 5.8%;
  position: absolute;
  background: #5a5a5a;
  width: 10vw;
  height: 20vh;
  z-index: 2;
  display: none;
  transform: translate(-50%, -50%);
}

#col-more {
  width: 70%;
  height: 20%;
  margin: 10px 13%;
  left: 30%;
}
/* --------------------- end ------------------- */

.box-shapes.active {
  transform: scale(1);
}


@media screen and (max-width: 1024px)
{
  .box-shapes {
    display: flex;
    padding: 1.8%;
    left: 4%;
    position: absolute;
    align-items: center;
    justify-content: center;
  }

  .box-col {
    top: 50%;
    width: 25%;
    height: 30%;
    display: flex;
    left: 14%;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1031px) 
{
  .box-shapes {
    display: flex;
    padding: 1.8%;
    left: 4%;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
  .box-col {
    top: 50%;
    width: 25%;
    height: 30%;
    display: flex;
    left: 14%;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width:992px) {
  .box-shapes {
    display: flex;
    padding: 1.8%;
    left: 4%;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
  .box-col {
    top: 50%;
    width: 25%;
    height: 30%;
    display: flex;
    left: 14%;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: rgb(226, 155, 220);
  }
}

